@import "./abstracts/variables";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

@import "./abstracts/map-amends";

@import "../node_modules/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "./global";
@import "./header";
@import "./button";

//index.html
.main-section {
  background-image: url("../assets/img/backgrounds/img-inicio@2x.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.comment-card {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .comment-prof-img {
    clip-path: circle();
    // aspect-ratio: 1 / 1;
  }
}

.img-company-item {
  max-width: min(45%, 150px);
}

//integracoes.html
.img-container {
  max-width: 150px;
}

//sobre.html
.main-sobre-section {
  background-image: url("../assets/img/backgrounds/img-sobre-nós@2x.webp");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.swiper-wrapper {
  transition: transform 0.3s ease;
}

//planos.html
.planos-card {
  width: 300px;
  height: 700px;
}

.sobre-1 {
  background-image: url(../assets/img/commom/sobre/sobre-nós-1.webp);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.sobre-2 {
  background-image: url(../assets/img/commom/sobre/sobre-nós-2.webp);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.bi-check-lg::before,
.bi-x::before {
  font-weight: 900 !important;
}

.form-check {
  display: flex;
  align-items: center;

  width: 150px;
}

.check {
  width: 28px;
  height: 28px;

  border: solid 1px $border;
}

.trans-input {
  background-color: #ffffff00;

  border: 1px solid #000;
}

.border-bottom {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $border;

  box-shadow: none !important;
}

.arrow-img {
  transform: rotate(90deg); /* estado fechado (baixo) */
  transition: transform 0.3s ease;
}

.arrow-img.open {
  transform: rotate(-90deg); /* estado aberto (cima) */
}

.arrow-img2 {
  transform: rotate(0deg); /* estado fechado (lado) */
  transition: transform 0.3s ease;
}

.arrow-img2.open {
  transform: rotate(90deg); /* estado aberto (baixo) */
}

.pre-seta {
  ul {
    list-style: none;
  }
  a {
    display: inline-block;
    text-decoration: none;
    color: $text-color;
    font-size: $h6-font-size;
    margin: 0.25rem 0;
    white-space: normal;
  }
  a,
  ul > li > a {
    position: relative;
    &::before {
      content: "";
      font-weight: 900;
      background-image: url(../assets/img/icons/Seta-color.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      left: -1em;
      top: 0.3em;
      width: 12px;
      height: 12px;
    }
  }
}

.back-to-top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
  z-index: 900;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
}

.back-to-top img {
  width: 12px;
  transform: rotate(-90deg) translatex(25%); /* ajuste se precisar */
  filter: invert(1) brightness(2);
}

.back-to-top:active {
  background-color: $primary !important;
}

@media (max-width: 768px) {
  .bg-position-35 {
    background-position: 35% !important;
  }
}

@media (min-width: 768px) {
  .img-company-item {
    max-width: auto;
  }
  .img-container {
    max-width: 225px;
  }
  .planos-card {
    width: 260px;
    height: 775px;
  }

  .back-to-top {
    right: calc((100vw - 1200px) / 2 + 20px);
  }
}

@media (min-width: 1400px) {
  .planos-card {
    width: 300px;
    height: 700px;
  }
}
